@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-page="/Account/Logout" id="logoutForm" class="ml-auto">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <span class="nav-link">@UserManager.GetUserName(User)</span>
            </li>
            <li class="nav-item">
                <button type="submit" class="btn btn-link navbar-btn nav-link">Logga ut</button>
            </li>
        </ul>
    </form>
} else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a asp-page="/Account/Login" class="nav-link">Logga in</a></li>
    </ul>
}