@page
@model IndexModel
@{
    ViewData["Title"] = "Hem";
    ViewBag.Current = "Home";
}

<div class="container">
    <h1>Digitalisering av de nationella proven</h1>
    <p>
        Vi arbetar för att digitalisera de nationella proven och möjliggöra extern bedömning. Redan från hösten 2018 ska skolorna använda digitala enheter vid vissa prov.
    </p>
    <img class="img-fluid justify-content-center" src="~/images/image1.png" title="Nationella prov." alt="image1.png" />
    <p>
        Digitaliseringen påverkar hela samhället. Skolan och vuxenutbildningen har en central roll i förändringsarbetet och Skolverket stödjer både rektorer, lärare och elever i den digitala
        utvecklingen. Elever ska kunna utveckla en god digital kompetens i skolan, som de kan ha med sig i framtida studier och arbetsliv. De behöver kunna förstå och hantera hur digitaliseringen
        påverkar samhället och individen och de behöver kunna använda sig av digitala verktyg. Som en del av den digitala övergången skapar vi effektiva, användarvänliga och rättssäkra digitala
        nationella prov till år 2022.
    </p>
    <h2>Uppdrag om att digitalisera proven</h2>
    <p>
        Vi har sedan september 2017 ett regeringsuppdrag om att digitalisera de nationella proven och skapa möjligheter för extern bedömning av proven. Syftet är att bidra till att de nationella
        proven och bedömningsstöden blir likvärdiga, rättssäkra och effektiva.

        Arbetet att digitalisera proven är ett flerårigt arbete. Vi behöver skapa både tekniska och verksamhetsmässiga förutsättningar för en ny enhetlig provprocess, oavsett skolform. Det innebär
        bland annat att vi utvecklar en teknisk lösning för digitala nationella prov. Lösningen innehåller ett antal digitala tjänster: konstruktion, genomförande och bedömning av prov samt
        resultatrapportering. Regeringsuppdraget sträcker sig fram till oktober 2023 då det ska slutredovisas.
    </p>

    <h2>Successivt införande av digitala prov</h2>
    <p>
        Samtliga nationella prov ska vara digitala år 2022. Då ska det finnas en nationell digital infrastruktur och tillräcklig digital kompetens på skolorna för att genomföra proven.
        Införandet av digitala nationella prov kommer att ske successivt. Det finns två centrala delar i införandet; den ena delen gäller den tekniska lösningen och den andra rör det
        digitala förändringsarbetet som behöver göras på skolorna. Det här testar vi på 100 skolor under en försöksverksamhet som pågår mellan åren 2018–2021.
    </p>
</div>
