@page
@model IndexModel
@{
    ViewData["Title"] = "Hem";
}

<div class="container">
    <img class="img-fluid justify-content-center" src="~/images/image1.png" title="Nationella prov." alt="image1.png" />
    <p>
        Regeringen vill att nationella prov ska vara rättvisa, likvärdiga och digitala, och målsättningen är att alla prov, i den mån det är möjligt, ska vara digitaliserade år 2022. Syftet är även att få en effektivare hantering av de nationella proven.

        Vi genomför från hösten 2018 en försöksverksamhet med ett stegvist införande av digitaliserade prov och extern bedömning. Från hösten 2018 är det också obligatoriskt att eleverna använder dator eller annan digital enhet när de skriver uppsatser i svenska, svenska som andraspråk och engelska i årskurs 9, gymnasieskolan och inom kommunal vuxenutbildning på gymnasial nivå.
    </p>
</div>
