@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Behörighet saknas";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Du saknar behörighet för tillgång till denna resurs.</p>
</header>
