@page
@model LoginModel
@{
    ViewData["Title"] = "Logga in";
    ViewBag.Current = "Login";
    Layout = "_LoginLayout";
}

<div class="container content-container">
    <section id="loginContent">

        <form asp-page="Login" role="form">
            <div asp-validation-summary="All" class="input-validation-error"></div>

            <div class="form-group">
                @*<label asp-for="Input.Email" class="col-md-2 col-form-label"></label>*@
                <div class="col-lg-4 offset-lg-4">
                    <input type="email" asp-for="Input.Email" class="form-control login-form-control" placeholder="Användarnamn" />
                    <span asp-validation-for="Input.Email" class="field-validation-error"></span>
                </div>
            </div>
            <div class="form-group">
                @*<label asp-for="Input.Password" class="col-md-2 col-form-label"></label>*@
                <div class="col-lg-4 offset-lg-4">
                    <input type="password" asp-for="Input.Password" class="form-control login-form-control" placeholder="Lösenord" />
                    <span asp-validation-for="Input.Password" class="field-validation-error"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4 offset-lg-4">
                    <button type="submit" class="btn btn-primary btn-block btn-login">Logga in</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-4 offset-lg-4">
                    <label asp-for="Input.RememberMe" class="col-form-label"></label>
                    <input type="checkbox" asp-for="Input.RememberMe" />
                    <span asp-validation-for="Input.RememberMe" class="field-validation-error"></span>
                </div>
            </div>
        </form>

    </section>
</div>

